/* frist part here that  */ 
.hero-laundry {
  background: linear-gradient(180deg, #eaf4ff, #ffffff);
  padding: 30px 20px;
  overflow: hidden;
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* LEFT */
.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 30px;
  color: #0b0b0b;
}
.hero-content h1 {
  white-space: nowrap;        /* 👈 ek hi line */
}

.service-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}



#navbar {
  
  position: relative;   /* ya default */ 
  top: 0;
  width: 100%;
  z-index: 10;
  transition: none; /* delay hata diya */
}

.navbar--hide {
  transform: translateY(-100%);
}

.navbar--show {
  transform: translateY(0);
}







